<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9e1907ea-5364-47dc-9168-c2e311e5f622/resourceGroups/TestRG1/providers/Microsoft.Web/sites/marinet-test-service</ResourceId>
    <ResourceGroup>TestRG1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://marinet-test-service.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ac964a9-755c-4957-a14b-76311220348e</ProjectGuid>
    <PublishUrl>https://marinet-test-service.scm.azurewebsites.net/</PublishUrl>
    <UserName>$marinet-test-service</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>